.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 84px;
    padding: 0 48px;
    border-radius: 999px;
    background: #3f3f3f;
}

.navbar-logo {
    transform: translateY(-6px);
    font-family: MizuFontAlphabet, sans-serif;
    font-size: 32px;
    color: rgba(216, 254, 43, 1);    
}

.period {
    color: rgba(243, 103, 21, 1);
}

.navbar-links {
    display: flex;
    gap: 56px;
    font-family: Segoe UI, sans-serif;   
}

.navbar-links a {
    text-decoration: none;
    color: rgba(216, 254, 43, 1);   
}

.navbar-actions {
    display: flex;
    gap: 16px;
}